* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 1vw;
    background-color: #f0f0f0;
    border-bottom: 1px solid #000;
}

header ul {
    margin-left: 1vw;
    list-style: none;
}

header ul li {
    display: inline;
}

header ul li:hover {
    text-decoration: underline;
    color: royalblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: thick solid #5f99cf;
    background-color: #cee3f8;
}

nav img {
    width: 75px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
    cursor: pointer;
}

.trending {
    font-weight: 600;
}

.trending li {
    background-color: #fff;
    padding: 0 0.25vw;
}

.user-profile {
    background-color: #fff;
    margin-right: 10px;
}

.user-profile li {
    color: #5f99cf;
}

section {
    width: 90%;
    margin: 3vw auto;
    display: flex;
    justify-content: space-between;
}

aside {
    width: 10%;
}

.post-votes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#vote {
    color: royalblue;
    font-weight: 600;
    margin: 0.25vw 0;
}

main {
    width: 50%;
}

.post {
    margin-left: 2vw;
}

.post-title {
    margin-bottom: 0.5vw;
}

.post-body a {
    color: #4682b4;
    text-decoration: none;
}

.post-options {
    color: grey;
    font-weight: 600;
    margin: 0.5vw 0;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.left-sidebar .search-bar {
    margin-bottom: 00.25vw;
}

.left-sidebar .search-bar input {
    padding: 0.25vw;
    width: 90%;
}

.left-sidebar .post-btn {
    padding: 1rem;
    background-color: #def2ff;
    color: #4682b4;
    border: 1px solid blue;
    outline: none;
    margin: 00.25vw 0;
    border-radius: 5px;
}

.left-sidebar .post-btn:hover {
    background-color: #3a5eca;
    color: #fff;
}

.progress {
    margin-top: 0.5vw;
    border: 1px solid grey;
    padding: 0.25vw;
    text-align: center;
}

.progress span {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 2.5vw;
    color: grey;
}

.progress .progress-btn {
    margin: 0.5vw 0;
    padding: 0.5vw;
    width: 80%;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f3e287;
}

.support button {
    font-size: 0.8rem;
    margin: 0.5vw auto;
    cursor: pointer;
    background-color: #fff;
    color: rgb(43, 43, 43);
    padding: 0 0.15vw;
    box-shadow: 1px 1px 1px 1px #8888;
}