* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 0 1vw;
    background-color: #f0f0f0;
    border-bottom: 1px solid #000;
}

header ul {
    margin-left: 1vw;
    list-style: none;
}

header ul li {
    display: inline;
}

header ul li:hover {
    text-decoration: underline;
    color: royalblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: thick solid #5f99cf;
    background-color: #cee3f8;
}

nav img {
    width: 75px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
    cursor: pointer;
}

.trending {
    font-weight: 600;
}

.trending li {
    background-color: #fff;
    padding: 0 0.25vw;
}

.user-profile {
    background-color: #fff;
    margin-right: 10px;
}

.user-profile li {
    color: #5f99cf;
}

section {
    width: 90%;
    margin: 3vw auto;
    display: flex;
}

.post-votes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post {
    margin-left: 2vw;
}

.post-title {
    margin-bottom: 0.5vw;
}

.post-body a {
    color: #4682b4;
    text-decoration: none;
}

.post-options {
    color: grey;
    font-weight: 600;
    margin: 0.5vw 0;
}